<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RM_Dental_Laboratory_and_Supplies.Properties.Settings.ConnectionString"
            connectionString="Data Source=ADMINISTRATOR;User ID=sa;Password=admin;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="RM_Dental_Laboratory_and_Supplies.Properties.Settings.rmdbConnectionString"
            connectionString="Data Source=ADMINISTRATOR;Initial Catalog=rmdb;User ID=sa;Password=admin;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>